


.logo {
	margin-left: 3%;
}



.navbar {
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
	background: #fff;
	display: flex;
	height: 65px;
	align-items: center;

	.icon {
		fill: #ffffff;
	}
}



a {
	color: #000000;
}

.dropdown {
	margin-left: 6px;

}

.menu {
	margin: 0;
	display: flex;
	list-style: none;


	a {
		position: relative;
		z-index: 5;
		display: block;
		letter-spacing: 0.10rem;
		padding: 1rem 1rem;
		text-decoration: none;
		font-weight: 500;
		font-size: 1rem;
		transition: 0.2s;

		&:hover {
			background: #f2eeee;
			color: rgb(27, 26, 26);

			.icon {
				fill: #fff;
			}
		}
	}
}

.dropdown>a {
	display: flex;
	align-items: center;

	.icon {
		margin-left: .25em;
	}
}


.dropdown-nav {
	opacity: 0;
	transition: transform .3s cubic-bezier(0.88, -0.72, 0, 1), opacity .3s ease-in-out;
	transform: translateY(-4rem);
	list-style: none;
	margin: 0;
	padding: 0;
	position: absolute;
	z-index: 1;
	background: rgba(255, 255, 255, 0.9);

	a {
		font-weight: 300;
		font-size: 15px;
	}
}

.btns {
	float: right;
	right: 30px;
	position: absolute;

	button {
		background-color: red;
		justify-content: center;
		border: none;
		padding: 12px;
		text-align: center;
		background-color: rgb(255, 255, 255);
		text-transform: uppercase;
		font-size: 12px;
		color: rgb(0, 0, 0);
		cursor: pointer;
		border-radius: 5px;
	}

}

.border {
	border: 2px solid !important;
}


@media (max-width: 800px) {
	//mobile 

	.menu {
		display: none;
	}

	.btns {
		button {
			display: none;
		}
	}

	.menu {
		&.show {
			display: block !important;
			position: absolute;
			right: 0px;
			background: rgb(216, 205, 205);
			top: 0px;
			height: 100vh;
			width: 50%;
			padding-top: 60px;
		}

	}

	.dropdown:hover {
		.dropdown-nav {
			opacity: 1;
			display: block;
			position: relative;
			transform: none;
			box-shadow: 0 4px 10px -1px rgba(0, 0, 0, 0.1), 0 5px 5px -1px rgba(0, 0, 0, 0.06);
		}
	}
}

@media (min-width: 800px) {

	//desktop
	.dropdown:hover {
		.dropdown-nav {
			opacity: 1;
			transform: translateY(0);
			box-shadow: 0 4px 10px -1px rgba(0, 0, 0, 0.1), 0 5px 5px -1px rgba(0, 0, 0, 0.06);
		}
	}
	.menubutton{
		display: none !important;
	}
}

.menubutton {
	background-image: url(../../public/icon-menu.svg);
	background-repeat: no-repeat;
	width: 27px;
	display: block;
	height: 40px;

	&.show {
		background-image: url(../../public/icon-close-menu.svg);
	}
}

